* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #e0dede;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 90vh;
}

h1 {
  font-size: 5em;
  margin: 0;
  color: #333333;
  margin-top: 50px;
  margin-bottom: 20px;
}

#settings {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 500px;
}

#draw-grid {
  width: 500px;
  height: 500px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  background-color: white;
}

button {
  background-color: #d2d2d2;
  border: 1px solid black;
  font-size: 1em;
  padding: 6px 12px;
  border-radius: 8%;
  transition: transform 0.2s;
}

.active-button {
  background-color: #333333;
  color: white;
}

#settings button:hover {
  transform: scale(1.06);
}

.dot {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: transform 0.2s;
}

.dot:hover {
  transform: scale(1.06);
}

input[type="color"] {
  opacity: 0;
}

#range-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  width: 25px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 10px;
  font-size: 1.4em;
}

@media screen and (max-width: 500px) {
  #draw-grid {
    width: 300px;
    height: 300px;
  }

  h1 {
    font-size: 4em;
  }

  #settings {
    width: 300px;
    gap: 15px;
  }

  #settings button {
    font-size: 0.75em;
    padding: 4px 8px;
  }

  #settings input {
    width: 40px;
  }

  .dot {
    height: 30px;
    width: 30px;
  }

  footer p {
    font-size: 0.8em;
  }
}
